{% cache 'opinionItem'~class {gen: article} %}
<article class="opinionsItem {{class}}">
            <a class="opinionsItem__image" href="{{ url(article) }}">
              {% if article.authors %}

                {% for author in article.authors %}
                <figure>
                  <img src="{{ author.avatarUrl }}" alt="{{ author.name }}">
                </figure>                
                <span class="opinions__author">by {{ author.name }}</span>
                {% endfor %}
              {% elseif article.metadata.byline %}
              <figure>
                <img src="{{ asset('theme/img/article_img/140x140.png') }}">
              </figure>              
              <span class="opinions__author">by {{ article.metadata.byline }}</span>
              {% endif %}

            </a>
            <a href="{{url(article)}}">
              <h3 class="opinionsItem__headline">{{article.title}}</h3>
            </a>
            <p class="opinionsItem__text">
                  {% if article.lead is empty %}
                    {{ article.body|striptags|safeTruncate(200,"...") }}
                  {%else%}
                    {{ article.lead|striptags|safeTruncate(200,"...") }}
                  {%endif%}</p>
          </article>
{% endcache %}
