<ul>
    {% gimmelist route from routes with {  slug: 'agbs'} %} <li>{{ route.name }}</li> <!-- Route's name -->
        <li>{{ route.slug }}</li> <!-- Route's slug -->
        <li>{{ url(route) }}</li> <!-- Route's url -->
    {% endgimme %} </ul>

<ul>
    {% gimme contentList with { contentListName: "mainNavigation2" } %}
        <li>{{ contentList.name }}</li> <!-- Content list name -->
        <li>{{ contentList.description }}</li> <!-- Content list description --> <li>{{ contentList.type }}</li> <!-- Content list type) -->
    {% endgimme %} </ul>