
{% extends 'base.html.twig' %}

{% block body %}

	{% dump searchResults %}

	<main class="container">


				{% set itemsPerPage, currentPage = 8, app.request.get('page', 1) %} {% set start = ((currentPage - 1) * itemsPerPage) %}
				{% gimmelist article from searchResults|limit(app.request.get('limit', 10))|order(app.request.get('field', 'publishedAt'), app.request.get('direction', 'desc')) with {
					term: app.request.get('q', ''),
					page: app.request.get('page', 1),
					routes: app.request.get('route', []),
					term: app.request.get('q', ''),
					publishedBefore: app.request.get('publishedBefore'),
					publishedAfter: app.request.get('publishedAfter'),
					publishedAt: app.request.get('publishedAt'),
					sources: app.request.get('source', []),
					authors: app.request.get('author', []),
					statuses: app.request.get('status', []),
					metadata: app.request.get('metadata', []),
					} %}

				{% dump article %}




					<div class="col-md-8 col-centered">
						<div class="card flex-md-row mb-4 h-md-250 border-left-0 border-top-0 border-right-0">
							<div class="card-body d-flex flex-column align-items-start">
								<strong class="d-inline-block mb-2 text-primary">{{ article.route.name }}</strong>
								<h3 class="mb-0">
									<a class="text-dark" href="{{ url(article) }}">{{ article.title }}</a>
								</h3>
								<div class="mb-1 text-muted">Nov 12</div>
								<p class="card-text mb-auto">text here </p>
								<a href="#">Continue reading</a>
							</div>

							<div class="col-md-3 px-10 align-items-center justify-content-center">



								{% if article.featureMedia %}
									{% gimme rendition with { 'media': article.featureMedia, 'name': '1250x600', 'fallback': 'original' } %}
									{% dump path(rendition) %}

										{% set rend1250 = path(rendition) %}
										{% set imgCaption = article.featureMedia.description %}
									{% endgimme %}
								{% endif %}

								{% gimme rendition with { 'name': '1250x600', 'fallback': 'original' } %}
									{% set rend1250 = path(rendition) %}



									<img  class="img-fluid" src="{{ rend1250 }}" alt="{{ imgCaption }}" width="230" height="150" }}" />
									<figcaption>{{ imgCaption }}</figcaption>

								{% endgimme %}




							</div>
						</div>
					</div>





					{% if loop.last %}
{#				{% include '_tpl/pagination.html.twig' with { currentFilters: {}|merge(app.request.query.all()), currentPage: currentPage,#}
{#					paginationPath: gimme.route,#}
{#					lastPage: (loop.totalLength/itemsPerPage)|round(0, 'ceil') } only %}#}
				Showing {{ searchResults|length }} out of {{ loop.totalLength }} articles. {% endif %}
				{% endgimmelist %}


{#<script>#}
{#  (function() {#}
{#    var cx = '001959388472599317396:kn-x-ndaexq';#}
{#    var gcse = document.createElement('script');#}
{#    gcse.type = 'text/javascript';#}
{#    gcse.async = true;#}
{#    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;#}
{#    var s = document.getElementsByTagName('script')[0];#}
{#    s.parentNode.insertBefore(gcse, s);#}
{#  })();#}
{#</script>#}
{#<gcse:searchresults-only></gcse:searchresults-only>#}

			</div>
		</div>
	</main>

	<style>

		.col-centered {
			float: none;
			margin: 0 auto;
		}

		.article-img {
			position: absolute;
			top: 0;
			right: 12px;
			bottom: 0;
			width: 17%;
			margin: auto;
		}

		.hed {
			max-width: 605px;
			position: absolute;
		}


	</style>


{% endblock %}


